/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@font-face {
  src: url(./../fonts/segoesc.ttf);
  font-family: segoesc;
}

#always-here {
  font-family: segoesc;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

#social-media-icons {
	margin-left: 15px;	
}

nav {
	background-color: white;
	height: 11vh;
}

#jumbo-image {
	  width: 100%;
    background-color: yellow; 
    background-image: url('./images/jumbo-image2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.row-for-jumbo {
	 position: relative;
	 text-align: center;
	 color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-yellow {
    background-color: #FFCE2B;
  }
  .no-padding {
    padding: 0px !important;
  }
  .no-margin-bottom {
    margin-bottom: 0px !important;
  }
  .align-vertical {
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  .fast-approval {
    font-size: 64px;
  }

  
  @media only screen and (max-width: 992px) {
    .md-bg-yellow {
      background-color: #FFCE2B;
    }
    p {
      line-height: 1.5
    }
    .fast-approval {
      font-size: 40px;
    }
  }

/*Galaxy S5*/
  @media only screen and (min-width: 320px) and (max-width: 414px) {
    body {
      width: 1100px;
      overflow-x: hidden;
    }

    #index-body {
      /*height: 100vh !important;*/
       width: 1000px;
    }

    #index-logo {
      margin-right: 670px;
    }

    .index-jumbo {
      height: 55vh;
      width: 1000px !important;
    }

    #homepage-nav {
      width: 1000px;
      height: 100px;
    }

    #index-nav {
     width: 1000px;
     height: 100px; 
    }

    #small-screen-logo {
      margin-right: 655px;
    }
    #small-screen-background {
      width: 500px;
      background-color: black;
    }
  
    #always-here {
      font-size: 50px !important;
      position: absolute !important;
      right: 300px !important;
      width: 500px !important;
      height: 100px !important;
    }

    #postition-for-always-here {
      position: absolute;
      left: -320px;
      top: -10px;
    }

    #small-screen-btn {
      height: 70px !important;
      width: 250px !important;
      position: absolute !important;
      right: 10px !important;
    }

    #footer-small-screens {
      height: 200px !important;
    }

    #header-small-screens {
      font-size: 26px;
    }

    #safe-secure {
      margin-bottom: 10px;
    }

    .index-footer {
      height: 100vh;
      width: 1000px;
    }

    .faq-jumbo {
      /*margin-top: 50px;*/
      height: 85vh;
    }

    .faq-logo {
      margin-right: 750px !important;
    }

    .index-homepage-link-1 {
      position: absolute;
      right: 80px;
      margin-right: 0px;
    }

    .index-homepage-link-2 {
      position: absolute;
      right: -10px;
      top: -1px !important;
      margin-right: 0px;
    }

    #faq-nav {
      width: 1100px;
    }

    .index-2-position {
      position: absolute;
      left: 850px; 
    }

    .index-1-position {
      position: absolute;
      left: 500px;
    }
  }
/*End of Galaxy S5*/

/*Mobile Large*/
 @media only screen and (min-width: 425px) and (max-width: 767px) {
  .faq-body {
    width: 1200px;
  }

   #small-screen-logo {
      margin-right: 850px;
      margin-bottom: 50px !important;
      margin-left: 240px;
    }

  #footer-small-screens {
    height: 230px !important;
  }

  .index-jumbo {
    height: 55vh;
    width: 1655px !important;
  }

  #index-logo {
      margin-right: 1350px;
    }

     .faq-jumbo {
      height: 75vh;
    }

    .faq-logo {
      margin-right: 900px !important;
    }

    #postition-for-always-here {
      position: absolute;
      left: -320px;
      top: -10px;
    }

    #always-here {
      font-size: 50px !important;
      position: absolute !important;
      right: 300px !important;
      width: 500px !important;
      height: 100px !important;
    }

    .index-footer {
      width: 1655px;
    }

    #index-p {
      position: absolute;
      left: 700px;
      width: 700px;
    }

    .index-homepage-link-1 {
      position: absolute;
      right: 80px;
      margin-right: 0px;
    }

    .index-homepage-link-2 {
      position: absolute;
      right: -10px;
      top: -1px !important;
      margin-right: 0px;
    }

    #index-nav {
     width: 1650px;
     height: 100px; 
    }

    .homepage-body {
      width: 1100px;
    }

    #homepage-nav {
    height: 100px;
    width: 1620px;
  }
    #index-body {
      width: 1500px;
    }
 }
/*End of Mobile Large*/

/*Tablet style*/
@media only screen and (min-width: 768px) and (max-width: 960px) { 
   #homepage-nav {
    height: 100px;
    width: 100%;
  }

  .homepage-body {
    width: 135%;
  }

  nav {
    width: 1000px;
    height: 8vh;
  }
  #footer-small-screens {
    height: 170px !important;
  }

   #header-small-screens {
      font-size: 20px;
    }

     #small-screen-logo {
      margin-right: 700px;
      margin-bottom: 50px !important;
    }

    .index-jumbo {
    height: 55vh;
    width: 1000px !important;
  }

  nav {
    height: 12vh;
  }

     .index-jumbo {
    height: 55vh !important;
  }

  #index-logo {
    position: absolute;
    right: 270px;
    margin-right: 0px;
  }

  .faq-logo {
    margin-right: 700px;
  }

  .faq-jumbo {
    height: 75vh;
  }

  #postition-for-always-here {
      position: absolute;
      left: -320px;
      top: -10px;
    }

    #always-here {
      font-size: 40px !important;
      position: absolute !important;
      right: 300px !important;
      width: 500px !important;
      height: 100px !important;
    }

    .homepage-span {
      font-size: 35px !important;
    }

    .homepage-faq {
      margin-left: 65px;
    }

    #homepage-how-to-loan {
      position: absolute;
      left: 10px;
      top: 3100px;
    }

    .page-footer {
      width: 100%;
    }

      .index-footer {
      width: 1000px;
    }

     .index-how-does-it-work {
      position: absolute;
      right: 80px;
    }

    .index-faq {
      position: absolute;
      right: 0px;
      top: -10px !important;
    }

    .index-homepage-link-1 {
      position: absolute;
      right: 80px;
      margin-right: 0px;
    }

    .index-homepage-link-2 {
      position: absolute;
      right: -10px;
      top: -1px !important;
      margin-right: 0px;
    }

    .faq-body {
      width: 1100px;
    }

     #faq-nav {
      width: 1100px;
     }

     #index-body {
      width: 1000px;
     }
}
/*end of tablet*/

/*Laptop Style*/
@media only screen and (min-width: 1024px) { 
  #footer-small-screens {
    height: 180px !important;
  }
   #header-small-screens {
      font-size: 20px;
    }

    .index-jumbo {
    height: 55vh;
  }

  .index-faq {
    margin-right: 0px !important;
  }

  .faq-body {
    overflow-x: hidden;
    /*width: 1000px !important;*/
  }

  .faq-footer {
    /*width: 1000px !important;*/
  }

  .faq-jumbo {
    height: 55vh;
  }

/*  #homepage-how-to-loan {
      position: absolute;
      left: 10px;
      top: 3300px;
    }*/

     #postition-for-always-here {
      position: absolute;
      left: -300px;
      top: -10px;
    }

     #always-here {
      font-size: 40px !important;
      position: absolute !important;
      right: 300px !important;
      width: 500px !important;
      height: 100px !important;
    }

    .index-homepage-link-1 {
      position: absolute;
      right: 80px;
      margin-right: 0px;
    }

    .index-homepage-link-2 {
      position: absolute;
      right: -10px;
      top: -1px !important;
      margin-right: 0px;
    }

    #homepage-nav {
      height: 100px;
    }

    #faq-nav {
      height: 100px;
    }
}
/*End Laptop Style*/
